name: Translation

on: [workflow_dispatch]
#   schedule:
#     - cron: "0 8 * * 0"

permissions:
  pull-requests: write

jobs:
  update-translation:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies
        run: "sudo apt-get update && sudo apt-get upgrade -y && sudo apt-get install -y wlc"
      - name: Fetch from weblate
        run: "wlc --url 'https://translate.codeberg.org/api/projects/scratchmark' --key '${{ secrets.WEBLATE_API_KEY }}' download --output po"
      - name: "Unzip"
        run: "unzip -oj po/scratchmark-app.zip -d po"
      - name: Commit
        run: |
          git config --global user.name 'sevonj'
          git config --global user.email 'sevonj@users.noreply.github.com'
          git stage po && git commit -m 'chore: po'
      - name: "PR"
        run: "gh pr create -B master -H i18n --title 'chore: update translations' --body 'Files fetched from https://translate.codeberg.org/projects/scratchmark/app/ by action workflow.'"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
